body {
    font-family: 'Arial', sans-serif;
    background-color: #6B3E8B;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #6B3E8B;
    padding: 20px;
    
}

h1 {
    text-align: center;
    color: #FF007F;
    font-weight: 900;
}

.container div {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px solid #387785;
    padding: 20px;
    margin: 10px;
}
div {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 5px solid #387785; 
	padding: 20px;
	margin: 10px;
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    width: 70%;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #FF007F;
    border: 5px solid #387785;
}

#country_details, 
#region_countries {
    padding: 20px;
    border: 5px solid #387785;
    background-color: #75CE9F;
    margin-top: 10px;
}

.country-card {
    border: 5px solid #387785;
    padding: 10px;
    margin-bottom: 10px;
}

ul {
    padding: 10px;
    margin-bottom: 10px;
    width: 75%;
	color: #FF00FF;
    list-style-type: disc;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul li {
    font-size: 16px;
    margin-bottom: 5px;
	color: #FF00FF;
    color: #777;
    width: calc(33.333% - 10px);
}